<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Node.js App</title>
	</head>
	<body>
		<h1>İki Sorulu Anket</h1>

		<form action="/submit" method="post">
			<label for="walletAddress">Cüzdan Adresi:</label>
			<input
				type="text"
				id="walletAddress"
				name="walletAddress"
				required
			/>

			<h2>Soru 1</h2>
			<label>
				<input type="radio" name="question1" value="option1" required />
				Seçenek 1
			</label>
			<label>
				<input type="radio" name="question1" value="option2" required />
				Seçenek 2
			</label>
			<label>
				<input type="radio" name="question1" value="option3" required />
				Seçenek 3
			</label>
			<label>
				<input type="radio" name="question1" value="option4" required />
				Seçenek 4
			</label>

			<h2>Soru 2</h2>
			<label>
				<input type="radio" name="question2" value="option1" required />
				Seçenek 1
			</label>
			<label>
				<input type="radio" name="question2" value="option2" required />
				Seçenek 2
			</label>
			<label>
				<input type="radio" name="question2" value="option3" required />
				Seçenek 3
			</label>
			<label>
				<input type="radio" name="question2" value="option4" required />
				Seçenek 4
			</label>

			<button type="submit">Anketi Gönder</button>
		</form>
	</body>
</html>