<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Exams List</title>
	</head>
	<body>
		<h1>Exams List</h1>
		<ul id="examsList"></ul>

		<script id="exams-template" type="text/x-handlebars-template">
			{{#each this}}
				<li>{{title}}</li>
			{{/each}}
		</script>

		<script
			src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"
		></script>
		<script type="text/javascript">
			document.addEventListener("DOMContentLoaded", () => { const
			examsList = document.getElementById("examsList"); const
			examsTemplate = document.getElementById("exams-template").innerHTML;
			fetch("/exams") .then((response) => { if (!response.ok) { throw new
			Error(`HTTP error! Status: ${response.status}`); } return
			response.json(); }) .then((exams) => { console.log(exams); const
			compiledTemplate = Handlebars.compile(examsTemplate);
			examsList.innerHTML = compiledTemplate(exams); }) .catch((error) =>
			{ console.error("Error fetching exams:", error); }); });
		</script>
	</body>
</html>